@charset "UTF-8";
/* CSS Document */
.admin_menu {
	display: block;
}

.dashboard {
	padding: 60px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 6px;
	width: 100%;
	height: 100%;
}

.items {
	background-color: black;
	height: auto;
	width: auto;
	transition: 200ms ease-in-out;
}

.items:hover {
	background-color: white;
	border-color: black;
	border: medium;
	border-style: solid;
	border-color: black;
	border-width: thin;
}

.items h1 {
	padding: 15px;
	font-weight: 400;
	font-size: 22px;
	color: white;
}

.items p {
	padding: 15px;
	font-weight: 500;
	font-size: 15px;
	color: white;
}

.items:hover h1 {
	color: black;
}

.items:hover p {
	color: black;
}

.fa-bars {
	display: none;
}

@media (max-width: 768px) {
	.admin_menu {
		display: none;
	}
	.dashboard {
		margin-top: 350px;
		grid-template-columns: auto;
		padding: 0 20px 0 20px;
		width: 100%;
		height: 100%;
		align-self: center;
	}
	.items {
		height: auto;
		width: auto;
		min-height: 400px;
	}
	
	.fa-bars {
	display: block;
}
}

